<div class="row">
  <div class="jumbotron jumbo-survey jumbo-pic">
    <div class="survey main-text">
      <h3 class="survey-question text-center question"><%= @question %></h3>
      <div class="container">
        <div class="h2 text-center hidden" role="alert"></div>
        <%= form_tag complete_survey_path, method: :post, remote: :true, id: "survey_answer" do %>
          <div class="btn-holder col-xs-12 col-md-8">
            <%= render 'hidden_inputs' %>

            <div class="row">
              <div class="form-group col-xs-12 col-md-5 col-md-offset-1 text-center">
                <%= submit_tag @answers.one, class: "yes btn btn-lg btn-success", style: @css %>
              </div>

              <div class="form-group col-xs-12 col-md-6 text-center">
                <%= submit_tag @answers.two, class: "no btn btn-lg btn-danger", style: @css %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <h3 class="survey-question text-center price-question">How much do you normally pay for nice sunglasses?</h3>
      <div class="container slider">
        <div class="h2 text-center hidden" role="alert"></div>
        <%= form_tag complete_survey_path, method: :post, remote: :true, id: "price_answer" do %>
          <div class="btn-holder col-xs-12 col-md-8">
            <%= render 'hidden_inputs' %>

            <div class="row">
              <div class="form-group col-xs-12">
                <span class="pull-left white">$0</span><span class="pull-right white">$350</span>
                <%= range_field_tag "Price", 75, in: 0..350, step: 1, class: "price-slider" %>
              </div>
              <div class="form-group col-xs-12 col-sm-6 text-center">
                <div class="input-group">
                  <span class="input-group-addon sharp">$</span>
                  <input id="price_number" type="number" value="75" min="0" max="350" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="sharp form-control currency">
                  </input>
                </div>
              </div>
              <div class="form-group col-xs-12 col-sm-6 text-center">
                <%= submit_tag "Submit Price", class: "btn btn-default sharp form-control" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="container under">
        <div class="h2 text-center hidden" role="alert"></div>
        <%= form_tag email_from_survey_path, method: :post, remote: :true, id: "survey_email" do %>
          <div class="btn-holder col-xs-12 col-md-8">
            <div class="row">
              <div class="text-center form-group text-input col-xs-12">
                <%= label_tag "email", @email_message, class: "control-label" %>
              </div>

              <div class="form-group text-input col-sm-9 col-xs-12">
                <%= email_field_tag "email", nil, class: "email sharp form-control", required: true, placeholder: "email@example.com" %>
              </div>

              <%= render 'hidden_inputs' %>

              <div class="form-group col-sm-3 col-xs-12">
                <%= submit_tag "Send", class: "btn btn-default sharp form-control" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
