<div class="row">
  <div class="jumbotron jumbo-survey jumbo-pic">
    <div class="survey main-text">
      <h3 class="survey-question text-center"><%= @question %></h3>
      <div class="container">
        <div class="h2 text-center hidden" role="alert"></div>
        <%= form_tag complete_survey_path, method: :post, remote: :true, id: "survey_answer" do %>
          <div class="btn-holder col-xs-12 col-md-8">
            <%= hidden_field_tag "Theme", @question_type %>
            <%= hidden_field_tag "City", @address.city %>
            <%= hidden_field_tag "Country", @address.country %>

            <div class="row">
              <div class="form-group col-xs-12 col-md-5 col-md-offset-1 text-center">
                <%= submit_tag "Yes", class: "yes btn btn-lg btn-success" %>
              </div>

              <div class="form-group col-xs-12 col-md-6 text-center">
                <%= submit_tag "No", class: "no btn btn-lg btn-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="container under">
        <div class="h2 text-center hidden" role="alert"></div>
        <%= form_tag email_from_survey_path, method: :post, remote: :true, id: "survey_email" do %>
          <div class="btn-holder col-xs-12 col-md-8">
            <div class="row">
              <div class="form-group text-input col-xs-12">
                <%= label_tag "email", @email_message, class: "control-label" %>
              </div>

              <div class="form-group text-input col-sm-9 col-xs-12">
                <%= email_field_tag "email", nil, class: "email sharp form-control", required: true, placeholder: "email@example.com" %>
              </div>

              <%= hidden_field_tag "theme", @question_type %>
              <%= hidden_field_tag "city", @address.city %>
              <%= hidden_field_tag "country", @address.country %>

              <div class="form-group col-sm-3 col-xs-12">
                <%= submit_tag "Send", class: "btn btn-default sharp form-control" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
