<div id=<%= pair.delete('#') %> class="carousel slide" data-ride="carousel">

  <!-- <!&#45;&#45; Indicators &#45;&#45;> -->
  <!-- <ol class="carousel&#45;indicators"> -->
  <!--   <li data&#45;target=<%= pair %> data&#45;slide&#45;to="0" class="active"></li> -->
  <!--   <li data&#45;target=<%= pair %> data&#45;slide&#45;to="1"></li> -->
  <!--   <!&#45;&#45; <li data&#38;#45;target=<%#= pair %> data&#38;#45;slide&#38;#45;to="2"></li> &#45;&#45;> -->
  <!-- </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= one %>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <%= two %>
      <div class="carousel-caption">
      </div>
    </div>
    <!--  -->
    <!-- <div class="item"> -->
    <!--   <%#= three %> -->
    <!--   <div class="carousel&#45;caption"> -->
    <!--   </div> -->
    <!-- </div> -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href=<%= pair %> role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href=<%= pair %> role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>
