<div class="row top-row visible-xs">
  <div class="col-xs-12" style="height: 400px;">
    <%= image_helper 'smile_girl.jpg' %>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-xs-12 main-text text-card text-center" style="height: 135px;">
      </div>
    </div>
  </div>

  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-sm-12 main-text text-card text-center" style="height: 135px;">
      </div>
    </div>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-12" style="height: 400px;">
    <%= image_helper 'thumbs_up.jpg' %>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-12 inner-row">
    <div class="row">
      <div class="col-xs-12 main-text text-card text-center" style="height: 250px;">
      </div>
    </div>
  </div>
</div>

<div class="row visible-xs top-row">
  <div class="col-xs-12" style="height: 350px;">
    <%= image_helper 'eye_exam.jpg' %>
  </div>
</div>

<div class="row top-row visible-xs">
  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-xs-12" style="height: 235px;">
        <%= image_helper 'eye_cover.jpg' %>
      </div>
    </div>
  </div>

  <div class="col-xs-6 inner-row">
    <div class="row">
      <div class="col-xs-12 main-text text-card text-center" style="height: 235px;">
        <h3>Donate Now</h3>
      </div>
    </div>
  </div>
</div>

<div class="row visible-xs">
  <div class="col-xs-12" style="height: 350px;">
    <%= image_helper 'smile_gown.jpg' %>
  </div>
</div>
