<div class="row top-row visible-sm">
  <div class="col-sm-6" style="height: 400px;">
    <%= image_helper 'smile_girl.jpg' %>
  </div>

  <div class="col-sm-6 inner-row">
    <div class="row top-row">
      <div class="col-sm-12 main-text text-card text-center" style="height: 200px;">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 main-text text-card text-center" style="height: 185px;">
      </div>
    </div>
  </div>
</div>

<div class="row top-row visible-sm">
  <div class="col-sm-6 inner-row">
    <div class="row">
      <div class="col-sm-12 main-text text-card text-center" style="height: 400px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 inner-row">
    <div class="row">
      <div class="col-sm-12" style="height: 400px;">
        <%= image_helper 'thumbs_up.jpg' %>
      </div>
    </div>
  </div>
</div>


<div class="row visible-sm top-row">
  <div class="col-sm-12" style="height: 350px;">
    <%= image_helper 'eye_exam.jpg' %>
  </div>
</div>

<div class="row top-row visible-sm">
  <div class="col-sm-6 inner-row">
    <div class="row">
      <div class="col-sm-12" style="height: 235px;">
        <%= image_helper 'eye_cover.jpg' %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 inner-row">
    <div class="row">
      <div class="col-sm-12 main-text text-card text-center" style="height: 235px;">
        <h3>Donate Now</h3>
      </div>
    </div>
  </div>
</div>

<div class="row visible-sm">
  <div class="col-sm-12" style="height: 350px;">
    <%= image_helper 'smile_gown.jpg' %>
  </div>
</div>
