<div class="container main-text">
  <div class="row row-eq-height">
    <div class="col-sm-5 col-xs-12 close-up subtab">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active h4">
          <a href="#first_<%= product.name %>" class="sharp" aria-controls="home" role="tab" data-toggle="tab">
            <%= product.original %>
          </a>
        </li>

        <li role="presentation" class="h4">
          <a href="#second_<%= product.name %>" class="sharp" aria-controls="profile" role="tab" data-toggle="tab">
            <%= product.alternate %>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="first_<%= product.name %>">
          <%= image_helper product.original_front, class: 'product-shot', data: { front: img_url_helper(product.original_front), angle: img_url_helper(product.original_angle) } %>
        </div>

        <div role="tabpanel" class="tab-pane" id="second_<%= product.name %>">
          <%= image_helper product.alternate_front, class: 'product-shot', data: { front: img_url_helper(product.alternate_front), angle: img_url_helper(product.alternate_angle) } %>
        </div>
      </div>
    </div>

    <div class="col-xs-1 v-divider hidden-xs">
    </div>
    <div class="col-xs-1 hidden-xs">
    </div>
    <div class="h-divider visible-xs"></div>

    <div class="col-sm-5 col-xs-12 text-center buy">
      <%= image_helper product.price, class: 'pull-left' %>
      <%= image_helper 'fittings.jpg' %>
      <div class="soon sharp full">
        <span>Coming to Kickstarter in March</span>
      </div>
    </div>
  </div>
</div>
