<!-- FOR SMALL SCREENS -->
<div class="row main-text about-text text-center hidden-lg">
  <div class="col-lg-4">
    <div class="row stripe">
      <h2>Story</h2>
    </div>
    <div class="card main-text">
      <%= story_text %>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row stripe">
      <h2>Promise</h2>
    </div>
    <div class="card main-text">
      <%= promise_text %>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row stripe">
      <h2>Vision</h2>
    </div>
    <div class="card main-text">
        <%= vision_text %>
    </div>
  </div>
</div>


<!-- FOR BIG SCREENS -->
<div class="visible-lg row stripe main-text text-center about-text">
  <div class="col-lg-4 divide">
    <h2>Story</h2>
  </div>

  <div class="col-lg-4 divide">
    <h2>Promise</h2>
  </div>

  <div class="col-lg-4">
    <h2>Vision</h2>
  </div>
</div>

<div class="about-text visible-lg">
  <div class="row main-text row-eq-height-md">
    <div class="col-lg-4 divide">
      <div class="card main-text">
        <%= story_text %>
      </div>
    </div>

    <div class="col-lg-4 divide">
      <div class="card main-text">
        <%= promise_text %>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card main-text">
        <%= vision_text %>
      </div>
    </div>
  </div>
</div>
