<div class="caption call-to-action col-xs-12 col-lg-6 col-lg-offset-1">
  <h1 class="main-text">Help a <%= image_tag 'fello_white.png', alt: 'Fello Eyewear' %> out, share us on <a href="https://www.facebook.com/sharer/sharer.php?u=felloeyewear" target="_blank", alt='Share Fello Eyewear on Facebook'>facebook</a>.</h1>
</div>
<%= image_tag 'fello_wine_country.jpg', alt: 'Fello Wine Country', class: 'col-xs-12 no-pad under-drop' %>

<div class="col-xs-12 break">
</diV>

<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-9'>
      <div class="thumbnail">
        <%= image_tag 'premium_fello.jpg', alt: 'Tortoise Shell Konvoy Fello Sunglasses', class: "under-drop" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <h2 class="main-text center-text"><span class="fello-text">Fello</span> sunglasses are crafted in California, using only premium materials, ensuring the highest quality of eyewear. Money can’t buy a better pair.</h2>
    </div>
  </div>


  <div class="row">
    <div class='col-xs-6 col-md-3'>
      <div class="panel panel-default card col-xs-12 under-drop sharp blueprint">
        <div class="panel-heading sharp">
          <div class="panel-title main-text"><h2>Konvoy</h2></div>
        </div>
        <div class="panel-body cobra-fade">
          <%= image_tag 'blueprint_konvoy.jpg', alt: 'Konvoy Designs For Fello Sunglasses' %>
        </div>
      </div>
    </div>

    <div class='col-xs-6 col-md-3'>
      <div class="panel panel-default card col-xs-12 under-drop sharp blueprint">
        <div class="panel-heading sharp">
          <div class="panel-title main-text"><h2>Fantom</h2></div>
        </div>
        <div class="panel-body fantom-fade">
          <%= image_tag 'blueprint_fantom.jpg', alt: 'Fantom Designs For Fello Sunglasses', class: 'under-drop' %>
        </div>
      </div>
    </div>

    <div class='col-xs-6 col-md-3'>
      <div class="panel panel-default card col-xs-12 under-drop sharp blueprint">
        <div class="panel-heading sharp">
          <div class="panel-title main-text"><h2>Heron</h2></div>
        </div>
        <div class="panel-body aviator-fade">
          <%= image_tag 'blueprint_heron.jpg', alt: 'Heron (Aviator) Designs For Fello Sunglasses', class: 'under-drop' %>
        </div>
      </div>
    </div>

    <div class='col-xs-6 col-md-3'>
      <h3 class="main-text sub-main">Each <span class="fello-text">fello</span> has been carefully designed to bring you an affordable pair of sunglasses that will last a lifetime.</h4>
    </div>
  </div>

  <div class="break">
  </diV>
</div>
