<%= image_tag 'bighold.png', class: 'col-xs-12 no-pad' %>

<div class="col-xs-12 break"></div>

<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-9'>
      <div class="thumbnail no-border">
        <%= image_tag 'hold.png' %>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <h1 class="fello-text">Some intro title to our main points made here.</h2>
    </div>
  </div>


  <div class="row">
    <div class='col-xs-4 col-md-3'>
      <div class="thumbnail no-border pull-left cobra-fade">
        <%= image_tag 'bpcobra.png' %>
      </div>
    </div>

    <div class='col-xs-4 col-md-3'>
      <div class="thumbnail no-border fantom-fade">
        <%= image_tag 'bpfantom.png' %>
      </div>
    </div>

    <div class='col-xs-4 col-md-3'>
      <div class="thumbnail no-border pull-right aviator-fade">
        <%= image_tag 'bpaviator.png' %>
      </div>
    </div>

    <div class='col-xs-12 col-md-3'>
      <h3 class="fello-text">Smaller text that gets our points across about the quality of the glasses and maybe that they are mad in America/California</h4>
    </div>
  </div>
</div>
