<div class="caption call-to-action col-xs-8 col-sm-6 col-xs-offset-1">
  <h1 class="main-text">
    <p class="slogan">
      Help a <%= cl_image_tag 'fello_white.png', alt: 'Fello Eyewear' %> out.
    </p>
    Read our
    <%= link_to "story", kickstarter_path(anchor: "story"), { class: "main-text", title: "Fello Eyewear Story" } %>.
    <br />
    <button type="button" class="btn btn-primary btn-lg no-border text-drop">
      <a href="https://www.facebook.com/sharer/sharer.php?u=felloeyewear" target="_blank" title='Share Fello Eyewear on Facebook'>
        <p class="share">Share us on facebook.</p>
      </a>
    </button>
  </h1>
</div>

<%= cl_image_tag 'fello_wine_country.jpg', alt: 'Fello Wine Country', class: 'col-xs-12 no-pad under-drop' %>

<div class="col-xs-12 no-pad break">
  <h2 class="main-text text-drop">Kickstarter Coming Soon</h2>
</div>

<%= cl_image_tag 'konvoy_atlas.jpg', alt: 'Tortoise Shell Konvoy Fello Sunglasses', class: "col-xs-12 no-pad under-drop" %>

<div class="col-xs-12 no-pad break">
  <h2 class="main-text text-drop">Fello Models</h2>
</div>

<div class="container-fluid">

  <div class="row">
    <div class='col-sm-4'>

      <%= render partial: 'carousel', locals: { one: konvoy_one, two: konvoy_two, pair: "#konvoy" } %>

    </div>

    <div class='col-sm-4'>

      <%= render partial: 'carousel', locals: { one: fantom_one, two: fantom_two, pair: "#fantom" } %>

    </div>

    <div class='col-sm-4'>

      <%= render partial: 'carousel', locals: { one: heron_one, two: heron_two, pair: "#heron" } %>

    </div>
  </div>

</div>

<div class="col-xs-12 no-pad break">
  <h2 class="main-text text-drop"><a name="story">About</a></h2>
</div>

<%= render 'story' %>
