<div class="caption call-to-action col-xs-12 col-lg-6 col-lg-offset-6">
  <h1 class="main-text">Help a <%= image_tag 'fello_white.png', alt: 'Fello Eyewear' %> out, share us on <a href="https://www.facebook.com/sharer/sharer.php?u=felloeyewear" target="_blank", alt='Share Fello Eyewear on Facebook'>facebook</a>.</h1>
</div>
<%= image_tag 'california.jpg', alt: 'California Pier', class: 'col-xs-12 no-pad under-drop' %>

<div class="col-xs-12 break"></div>

<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-9'>
      <div class="thumbnail no-border">
        <%= image_tag 'tortoise_shell_cobra_fello_sunglasses.png', alt: 'Tortoise Shell Cobra Fello Sunglasses' %>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <h2 class="main-text">Crafted in California, <span class="fello-text">fello</span> sunglasses are the highest quality pieces of eyewear available on the market.</h2>
    </div>
  </div>


  <div class="row">
    <div class='col-xs-4 col-md-3'>
      <div class="thumbnail no-border pull-left cobra-fade">
        <%= image_tag 'bpcobra.png', alt: 'Cobra Designs For Fello Sunglasses' %>
      </div>
    </div>

    <div class='col-xs-4 col-md-3'>
      <div class="thumbnail no-border fantom-fade">
        <%= image_tag 'bpfantom.png', alt: 'Fantom Designs For Fello Sunglasses' %>
      </div>
    </div>

    <div class='col-xs-4 col-md-3'>
      <div class="thumbnail no-border pull-right aviator-fade">
        <%= image_tag 'bpaviator.png', alt: 'Aviator Designs For Fello Sunglasses' %>
      </div>
    </div>

    <div class='col-xs-12 col-md-3'>
      <h3 class="main-text">Each <span class="fello-text">fello</span> has been carefully designed to bring you an affordable pair of sunglasses that will last a lifetime.</h4>
    </div>
  </div>
</div>
