<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Email: <%= @email %>
    <br>
    Theme: <%= @Theme %>
    <br>
    Country: <%= @Country %>
    <br>
    City: <%= @City %>
    <br>
    State: <%= @State %>
    <br>
    Referer: <%= @Referer %>
  </body>
</html>
