<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Email: <%= @email %>
    <br>
    Theme: <%= @theme %>
    <br>
    Country: <%= @country %>
    <br>
    City: <%= @city %>
    <br>
    State: <%= @state %>
    <br>
    Referer: <%= @referer %>
  </body>
</html>
