<div class="footer">
  <div class="container main-text">
    <div class="row">
      <div class="col-sm-3">
        <h3>Contact Us</h3>
        <ul>
          <li><a href="mailto:contact@felloeyewear.com">contact@felloeyewear.com</a></li>
          <li><%= link_to "Founders", founders_path %></li>
          <li><%= link_to "Press Images", "http://mbx.cm/f/ytSKt", target: :blank %></li>
        </ul>
      </div>

      <div class="col-sm-4 col-sm-offset-1 text-input">
        <h3>Want More Info?</h3>
        <%= form_tag lead_email_path, method: :post, remote: true do %>
          <%= email_field_tag 'email', '', class: "sharp form-control email", required: true, placeholder: "Email Address" %>
          <%= image_submit_tag "email.png", class: "plane" %>
        <% end %> 
        <div class="form-alert alert sharp hidden" role="alert"></div>
      </div>

      <div class="col-sm-3 col-sm-offset-1">
        <h3>Considerations</h3>
        <ul>
          <li><%= link_to "Free Replacement", warranty_path %></li>
          <li class="working">Returns Policy</li>
        </ul>
      </div>
    </div>

    <div class="h-divide">
    </div>

    <div class="row">
      <div class="col-xs-12 nav nav-bar text-center no-pad">

        <%= render 'layouts/footer_icons_lg' %>

        <%= render 'layouts/footer_icons_sm' %>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid main-text rights">
  © 2015 Fello Eyewear. All rights reserved. Santa Barbara, CA.
</div>
