<nav class="navbar navbar-default sharp no-margin">
  <div class="container-fluid nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('fello.png', alt: 'Fello Eyewear Logo'), root_path, { class: "navbar-brand logo", title: 'Fello Eyewear Home' } %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
        <li><a href='https://twitter.com/felloeyewear', target='_blank', title='Fello Eyewear Twitter'><%= image_tag 'twitter.svg' %></a></li>
        <li><a href='https://instagram.com/felloeyewear', target='_blank', title='Fello Eyewear Instagram'><%= image_tag 'instagram.svg', alt: 'Fello Eyewear Instagram' %></a></li>
        <li><a href='https://www.facebook.com/felloeyewear', target='_blank', title='Fello Eyewear Facebook'><%= image_tag 'facebook.svg', alt: 'Fello Eyewear Facebook' %></a></li>
        <li><a href='https://www.pinterest.com/felloe', target='_blank', title='Fello Eyeware Pinterest'><%= image_tag 'pinterest.svg', alt: 'Fello Eyeware Pinterest' %></a></li>
        <li><a href='http://felloeyewear.tumblr.com', target='_blank', title='Fello Eyewear Tumblr'><%= image_tag 'tumblr.svg', alt: 'Fello Eyeware Tumblr' %></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="fello-text" href="#">Story</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
