<!DOCTYPE html>
<html>
<head>
  <title>Fello Eyewear Kickstarter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="dns-prefetch" href="http://www.felloeyewear.com">
  <link href="http://www.felloeyewear.com/" rel="prefetch" />
  <meta content="Are you looking for high quality glasses for a reasonable price? Fello sunglasses are the right deal for you. Help back us on kickstarter." name="description">
</head>
<body>

<%= render 'layouts/nav_bar' %>

<%= yield %>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
